/* Write some CSS below */
body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}

h1, h2, h3 {
color: darkgreen;
  font-family: Chivo;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}

.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: white;
}



.footer {
  background-color: rgb(30, 30, 30);
  color: WHITE;
  padding: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #E3704E;
}
             :                                                                                               :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::;
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.separator {
  height: 40px;
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.main-section {
	max-width: 800px;
	wargin: 0 auto;
}

